* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.passwordManager-app {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.app-logo {
  height: 50px;
  width: 150px;
  margin-bottom: 15px;
}
.passWord-input-container {
  background-color: #5763a5;
  border-radius: 8px;
  height: 36%;
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 28px;
}
.input-container {
  background-color: #454f84;
  padding: 15px;
  height: 350px;
  width: 40%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.input-heading {
  color: #f8fafc;
  font-size: 26px;
}
.form-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.input-box-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 42px;
  background-color: #f8fafc;
  border-radius: 8px;
}
.img-container {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #454f84;
}
.input-image {
  height: 20px;
  width: 20px;
}
.input-element {
  outline: none;
  border: none;
  width: 90%;
  padding: 10px;
  color: #454f84;
  font-size: 15px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.add-button {
  background-color: #0b69ff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  color: #f8fafc;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
}
.lg-password-manager {
  max-height: 350px;
  width: 38%;
}
.passWord-showing-container {
  background-color: #5763a5;
  border-radius: 8px;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.password-count-and-search {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #9ba9eb;
  margin-bottom: 10px;
}
.password-count-heading {
  display: flex;
  flex-direction: row;
}
.passwords-count {
  color: #f8fafc;
  font-size: 18px;
  margin-right: 10px;
}
.count {
  font-size: 10px;
  border: 0.5px solid #f8fafc;
  padding-right: 7px;
  padding-left: 8px;
  border-radius: 8px;
}
.search-container {
  height: 35px;
  width: 180px;
  display: flex;
  flex-direction: row;
  background-color: #f8fafc;
  border: none;
  border-radius: 5px;
}
.search-icon-container {
  height: 100%;
  width: 23%;
  border-right: 1px solid #454f84;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-icon {
  height: 18px;
  width: 18px;
}
.search-bar {
  border: none;
  outline: none;
  padding: 8px;
  height: 100%;
  width: 91%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.show-password-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.checkbox-input {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}
.label-input {
  color: #f8fafc;
  font-size: 15px;
}
.no-password-container {
  height: 72%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-passwords-image {
  height: 250px;
  width: 300px;
}
.no-passwords-text {
  color: #f8fafc;
  font-size: 20px;
}
.all-password-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
}
@media (max-width: 767px) {
  .passWord-input-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #5763a5;
    border-radius: 8px;
    height: 35%;
    width: 100%;
    align-items: center;
    padding: 25px;
  }
  .input-container {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #454f84;
    padding: 15px;
    height: 350px;
    width: 80%;
  }
  .sm-password-manager {
    height: 200px;
    width: 200px;
  }
  .lg-password-manager {
    display: none;
  }
}
@media (min-width: 768px) {
  .sm-password-manager {
    display: none;
  }
}